@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7CACD;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;

}


#quote-box {
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: #F29CA3;
    width: 60%;
    height: 30%;
    margin: 0 auto;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 1);
    border: 2px solid white;

}

#quote-box_content {
    position: relative;
    min-height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
}

#author {
    position: absolute;
    right: 0;
    bottom: 0;
    font-style: italic;
    color: white;
}

#quote-box_footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#new-quote {
    border: none;
    background-color: white;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #F29CA3;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

#new-quote:hover {
    transform: scale(1.1);
}

#new-quote:active {
    transform: scale(1);
}

#tweet-quote {
    position: absolute;
    right: 0;
    color: #F29CA3;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 200ms ease-in-out;
}

#tweet-quote:hover {
    transform: scale(1.1) rotate(360deg);
}